:root {
    --primary-color: #1b2430;
    --secondary-color: #51557e;
    --teritary-color: #816797;
    --quaternary-color: #d6d5a8;
    --quinary-color: #54bab9;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

.App > * {
    padding-left: 10px;
    padding-right: 10px;
}
